<script src="assets/ScryptaCore.js"> </script>

<ion-content padding class="animated fadeIn login auth-page">
    
  <div class="theme-bg"></div>
  <div class="auth-content">

    <!-- Logo -->
    <div padding-horizontal text-center class="animated fadeInDown">
      <div class="logo"></div>
      <h4 no-margin>
        <ion-text color="light" class="fw700">
          Scrypta - Manent
        </ion-text>
      </h4>
    </div>

    <!-- Login form -->
    <form [formGroup]="onLoginForm" class="list-form">
      <ion-item no-padding class="animated fadeInUp">
        <ion-label position="floating">
          <ion-icon name="lock" item-start></ion-icon>
          Password
        </ion-label>
        <ion-input color="secondary" type="password" formControlName="password" [(ngModel)]='password'></ion-input>
      </ion-item>
      <p ion-text class="text08" *ngIf="onLoginForm.get('password').touched && onLoginForm.get('password').hasError('required')">
        <ion-text color="warning">
          Required Field
        </ion-text>
      </p>

      <ion-item no-padding class="animated fadeInUp">
        <ion-label position="floating">
          <ion-icon name="lock" item-start></ion-icon>
          Repeat Password
        </ion-label>
        <ion-input color="secondary" type="password" formControlName="re-password" [(ngModel)]="repassword"></ion-input>
      </ion-item>
      <p ion-text color="warning" class="text08" *ngIf="onLoginForm.get('re-password').touched && onLoginForm.get('re-password').hasError('required')">
        <ion-text color="warning">
          Required Field
        </ion-text>
        </p>
    </form> 

  

    <div>
      <ion-button icon-left size="medium" expand="full" shape="round" color="dark" (click)="createWallet()" [disabled]="!onLoginForm.valid" tappable>
        <ion-icon name="log-in"></ion-icon>
        Create Wallet
      </ion-button>

      
    </div>

    <!-- Other links -->
    <div text-center margin-top>
      <span (click)="goToRegister()" class="paz" tappable>
        <ion-text color="light">
          Already have an account?
 <strong>Login Now</strong>
        </ion-text>
      </span>
    </div>

  </div>
</ion-content>